.comment{
    max-width: 1200px;
    margin: 0 auto;
}
.comment h2{
    font-size: 23px;
    padding: 7px;
    font-weight: 100;
    font-family: sans-serif;
    margin-top: 24px;
}
.comment textarea{
    padding: 10px;
    width: 510px;
    height: 100px;
    margin-top: 30px;
}
.comment button {
    padding: 10px;
    background: #fa5430;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.cmt{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #897d7d;
}
.cmt img{
    width: 65px;
    height: 65px;
    margin-right: 20px;
    border-radius: 2px;
}

#cmt h3{
    font-size: 17px;
    line-height: 6px;
}
#cmt h3{
}